@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#title{
    position: relative;
    height: 700px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
}

.welcome-heading{
    color: inherit;
    text-align: left;
    font-size: 5rem;
    font-weight: 800;
    animation: 2s linear fadeIn;
}

.welcome-page{
    position: absolute;
    top: 27%;
    left: 35%;
    z-index: 500;
    backdrop-filter: blur(10px);
    padding: 30px 5px;
    animation:  1.5s ease 2s forwards  moveRight;
}

.description-heading{
    animation: 1s ease 2s backwards fadeIn;
    font-size: 1.5rem;
    font-weight: 600;
}

.description{
    animation: 1s ease 2s backwards fadeIn;
    font-size: 1.25rem;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{opacity: 1;}
}

@keyframes moveRight{
    0%{
        left: 35%;
    }
    100%{
        left: 9%;
    }
}

.home-img{
    width: 800px;
    position: absolute;
    right: 0px;
    top: 50px;
    animation: 1s ease 2s backwards fadeIn;
}

.background-elements div{
    width: 1500px;
    height: 100px;
    rotate: -45deg;
    position: absolute;
    z-index: -1000;
    
    background-image: linear-gradient(to bottom right,#5800FF,#72FFFF);
   
    animation: 1s ease 2s backwards fadeIn;
}


.background-elements div:nth-child(1){
    position: absolute;
    top:-300px;
    left: -600px;
}

.background-elements div:nth-child(2){
    position: absolute;
    top:-160px;
    left: -600px;
}

.background-elements div:nth-child(3){
    position: absolute;
    top:-20px;
    left: -600px;
}

.background-elements div:nth-child(4){
    position: absolute;
    top: 121px;
    left: -600px;
}

.background-elements div:nth-child(5){
    position: absolute;
    top: 262px;
    left: -600px;
}

.background-elements div:nth-child(6){
    position: absolute;
    top: 103px;
    left: -300px;
}

.background-elements div:nth-child(7){
    position: absolute;
    top: 244px;
    left: -300px;
}

.background-elements div:nth-child(8){
    position: absolute;
    top: 300px;
    left: -215px;
}

