@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#title{
    position: relative;
    height: 610px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
}

.welcome-heading{
    color: inherit;
    text-align: left;
    font-size: 5rem;
    font-weight: 800;
    animation: 2s linear fadeInTop;
}

.welcome-page{
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 500;
    /* backdrop-filter: blur(10px); */
    padding: 30px 5px;
    animation:  2s linear fadeIn, 1.5s ease 2s forwards  moveRight;
}

.description-heading{
    animation: 1s ease 2s backwards fadeInTop;
    font-size: 1.5rem;
    font-weight: 600;
}

.description{
    animation: 1s ease 2s backwards fadeInTop;
    font-size: 1.25rem;
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{opacity: 1;
    }
}


@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{opacity: 1;
    }
}

@keyframes moveRight{
    0%{
        left: 35%;
    }
    100%{
        left: 9%;
    }
}

.home-img{
    width: 800px;
    /* height: 533px; */
    position: absolute;
    right: 0px;
    top: 0px;
    animation: 1s ease 2.5s backwards fadeInRight;
}


.background-element{
    width: 2000px;
    height: 1000px;
    rotate: -50deg;
    position: absolute;
    z-index: -1000;
    top: -600px;
    left: -625px;
    background-image: linear-gradient(to bottom right,#5800FF,#72FFFF);
    background-size: 200%;
    background-position: right;
    animation: 1s ease 2s backwards fadeInRight, 15s linear infinite alternate bg-animate;
}

@keyframes bg-animate {
    100%{
        background-position: left;
    }
}

@media (max-width: 1440px) and (min-width: 1024px){
    .home-img{
        width: 700px;
        top: 25px;
    }
}