@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#title{
    position: relative;
    width: 75vw;
    height: 85vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
}

.welcome-heading{
    color: inherit;
    text-align: left;
    font-size: 6vw;
    font-weight: 800;
    animation: 2s linear fadeInTop;
}

.welcome-page{
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 500;
    /* backdrop-filter: blur(10px); */
    padding: 30px 5px;
    animation:  2s linear fadeIn, 1.5s ease 2s forwards  moveRight;
}

.description-heading{
    animation: 1s ease 2s backwards fadeInTop;
    font-size: 1.75vw;
    font-weight: 600;
}

.description{
    animation: 1s ease 2s backwards fadeInTop;
    font-size: 1.40vw;
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{opacity: 1;
    }
}


@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{opacity: 1;
    }
}

@keyframes moveRight{
    0%{
        left: 35%;
    }
    100%{
        left: 8%;
    }
}

.home-img{
    width: 40vw;
    /* height: 533px; */
    position: absolute;
    right: -31%;
    top: 10%;
    overflow: hidden;
    animation: 1s ease 2s backwards fadeInRight;
}


.background-element{
    width: 175%;
    height: 175%;
    rotate: -55deg;
    overflow: hidden;
    position: absolute;
    z-index: -1000;
    top: -100%;
    left: -40%;
    background-image: linear-gradient(to bottom right,#5800FF,#72FFFF);
    background-size: 300%;
    background-position: bottom right;
    animation: 1s ease 2s backwards fadeInRight, 15s linear infinite alternate bg-animate;
}

@keyframes bg-animate {
    100%{
        background-position: left;
    }
}

@media (min-width: 1440px){
    .home-img{
        width: 40vw;
    }
    .background-element{
        left: -55%;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .background-element{
        left: -57%;
        rotate: -55deg;
    }
}

@media (max-width: 1200px) and (min-width: 1024px){
    .home-img{
        width: 60%;
        top: 9%;
        right: -31%;
    }
    #title{
        height: 75vh
    }
    .background-element{
        left: -55%;
        rotate: -60deg;
    }

    .welcome-heading{
        font-size: 6.5vw;
    }
}

@media (max-width: 1024px) and (min-width: 768px){

   
    .home-img{
        width: 55%;
        top: 12%;
        right: -29%;
    }

    .welcome-heading{
        font-size: 6.75vw;
    }

    .description-heading{
        font-size: 1.85vw;
    }

    .description{
        font-size: 1.60vw;
    }

    #title{
        height: 65vh;
    }

    .background-element{
        left: -57%;
        rotate: -60deg;
    }
}

@media (max-width: 768px) and (min-width: 425px){
    #title{
        width: 57vw;
        height: 100vw;
    }

    .background-element{
        rotate: 360deg;
        left: -0%;
        top: -60%;
        height: 250%;
    }

    .home-img{
        width: 150%;
        top: 45%;
        right: -65%;
        
    }

    .welcome-heading{
        font-size: 10vw;
    }

    .welcome-page{
        top: 0%;
        width: 90vw
    }

    .description-heading{
        font-size: 4vw;
    }

    .description{
        font-size: 3vw;
    }

}

@media (max-width: 425px) and (min-width: 375px){
    #title{
        width: 57vw;
        height: 115vw;
    }

    .background-element{
        rotate: 360deg;
        left: -0%;
        top: -60%;
        height: 250%;
    }

    .home-img{
        width: 150%;
        top: 50%;
        right: -65%;
        
    }

    .welcome-heading{
        font-size: 12vw;
    }

    .welcome-page{
        top: 0%;
        width: 90vw
    }

    .description-heading{
        font-size: 5vw;
    }

    .description{
        font-size: 3.75vw;
    }
}

@media (max-width: 375px) and (min-width: 320px){
    #title{
        width: 57vw;
        height: 115vw;
    }

    .background-element{
        rotate: 360deg;
        left: -0%;
        top: -70%;
        height: 250%;
    }

    .home-img{
        width: 150%;
        top: 50%;
        right: -65%;
        
    }

    .welcome-heading{
        font-size: 12vw;
    }

    .welcome-page{
        top: 0%;
        width: 90vw
    }

    .description-heading{
        font-size: 5vw;
    }

    .description{
        font-size: 3.75vw;
    }
}