@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding:  3% 6%;
    animation: 1s ease 2s backwards fadeInRight;
    position: relative;
    z-index: 1;
}

.header-wrap{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.home-link{
    flex-grow: 2;
    text-decoration: none;
    color: inherit;
    font-size: 2.25vw;
    font-weight: 800;
    z-index: 500;
}

.link-text{
    text-decoration: none;
    color: inherit;
    padding: 0.5% 2.5% 0%;
    z-index: 500;
    font-weight: 500;
    font-size: 1.15vw;
}

.link-text:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.5s;
}

.hamburger-icon-container{
    display: none;
    border: 1px solid white;
    border-radius:  5px;
    padding: 2px;
}

.hamburger-item{
    display: none;
}

.active{
    display: none !important;
}

.bar{
    width: 25px;
    height: 2px;
    margin: 5px;
    border-radius: 16px;
    background-color: white;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .home-link{
        font-size: 2.25vw;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .home-link{
        font-size: 2.50vw;
    }

    .link-text{
        font-size: 1.20vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home-link{
        font-size: 2.50vw;
    }

    .link-text{
        font-size: 1.20vw;
        padding: 1% 2% 0%;
    }

    #header{
        padding: 25px 50px ;
    }
    
}

@media (max-width: 768px) and (min-width: 425px){
    #header{
        padding: 6% 6% ;
    }

    .home-link{
        font-size: 4vw;
    }

    .link-text{
        display: none;
    }

    .hamburger-menu, .hamburger-icon-container{
        display: block;
    }

    .hamburger-item{
        display: block;
        padding: 10px 0px;
    }

    .hamburger-wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3% 0%;  
    }

    .hamburger-link{
        text-decoration: none;
        color: inherit;
        font-weight: 500;
    }
}

@media (min-width: 375px) and (max-width: 425px){

    #header{
        padding: 6% ;
    }

   .home-link{
        font-size: 5.5vw;
   }

   .hamburger-menu, .hamburger-icon-container{
    display: block;
    }

    .link-text{
        display: none;
    }

    .hamburger-item{
        display: block;
        padding: 10px 0px;
    }

    .hamburger-wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3% 0%;
    }

    .hamburger-link{
        text-decoration: none;
        color: inherit;
        font-weight: 500;
    }

}


@media (min-width: 320px) and (max-width: 375px){
    #header{
        padding: 6% ;
    }

    .home-link{
        font-size: 6vw;
   }

   .hamburger-menu, .hamburger-icon-container{
    display: block;
    }

    .link-text{
        display: none;
    }

    .hamburger-item{
        display: block;
        padding: 5px 0px;
    }

    .hamburger-wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3% 0%; 
    }

    .hamburger-link{
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 3.5vw;
    }
}