@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 40px 40px 40px 40px;
   
    animation: 1s ease 2s backwards fadeInRight;
    position: relative;
    z-index: 1;
    /* backdrop-filter: blur(7px); */
}

.header-wrap{
    display: flex;
    flex-direction: row; 
}

.home-link{
    flex-grow: 2;
    text-decoration: none;
    color: inherit;
    font-size: 2.25vw;
    font-weight: 600;
    font-weight: 800;
    padding-left: 4%;
    z-index: 500;
    color: white;
    
}

.link-text{
    text-decoration: none;
    color: inherit;
    padding: 0.5% 2.5% 0%;
    z-index: 500;
    font-weight: 500;
    font-size: 1.35vw;
}

.link-text:hover{
    transform: scale(1.25,1.25);
    transition: transform 0.5s;
}

.hamburger-icon-container{
    display: none;
    border: 1px solid white;
    border-radius:  5px;
    padding: 2px;
}

.hamburger-item{
    display: none;
}

.active{
    display: none !important;
}

.bar{
    width: 25px;
    height: 2px;
    margin: 5px;
    border-radius: 16px;
    background-color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home-link{
        padding-left: 0.5%;
        font-size: 2.50vw;
    }

    .link-text{
        font-size: 1.60vw;
        padding: 1% 2% 0%;
    }

    #header{
        padding: 25px 50px ;
    }
    
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .home-link{
        padding-left: 2.5%;
        font-size: 2.25vw;
        padding-left: 3.5%;
    }
    
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .home-link{
        padding-left: 2%;
        font-size: 2.50vw;
        padding-left: 3.5%;
    }

    .link-text{
        font-size: 1.50vw;
    }
    
}

@media(max-width: 768px) and (min-width: 425px){
    .hamburger-menu, .hamburger-icon-container{
        display: block;
    }

    .link-text{
        display: none;
    }

    #header{
        padding: 25px 0px 25px ;
    }

    .home-link{
        font-size: 1.75rem;
        padding-left: 2%;
    }

    .header-wrap{
        padding: 0px 25px;
       
    }

    .hamburger-item{
        display: block;
        padding: 10px 0px;
    }

    .hamburger-wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px 0px 0px;  
         
    }

    .hamburger-link{
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        padding: 0px 25px 0px 6%;
    }

    .home-link{
        font-size: 3.5vw;
       }
}

@media (min-width: 375px) and (max-width: 425px){
    .hamburger-menu, .hamburger-icon-container{
        display: block;
    }

    .link-text{
        display: none;
    }

    #header{
        padding: 25px 0px 25px ;
    }

    .home-link{
        font-size: 1.75rem;
        padding-left: 2%;
    }

    .header-wrap{
        padding: 0px 25px;
       
    }

    .hamburger-item{
        display: block;
        padding: 10px 0px;
    }

    .hamburger-wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px 0px 0px;  
         
    }

    .hamburger-link{
        text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding: 0px 25px;
    }

   .home-link{
    font-size: 5.5vw;
    padding-top: 2.5px;
    padding-left: 0.75%;
   }
}


@media (min-width: 320px) and (max-width: 375px){
    .hamburger-menu, .hamburger-icon-container{
        display: block;
    }

    .link-text{
        display: none;
    }

    #header{
        padding: 25px 0px 25px ;
    }

    .home-link{
        font-size: 1.75rem;
        padding-left: 2%;
    }

    .header-wrap{
        padding: 0px 25px;
       
    }

    .hamburger-item{
        display: block;
        padding: 10px 0px;
    }

    .hamburger-wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px 0px 0px;  
         
    }

    .hamburger-link{
        text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding: 0px 25px;
    }

   .home-link{
    font-size: 5.5vw;
    padding-top: 2.5px;
    padding-left: 0.75%;
   }
}