@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#about{
    background-color: #151515;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    z-index: 1;
    animation: 1s ease 2s backwards fadeInRight ;
    padding: 5% 0% 2.5%;
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{opacity: 1;
    }
}

.about-heading{
    padding: 0% 6% 5% ;
    font-size: 3vw;
}

.about-description{
    padding: 5% 5%;
    font-size: 1.5vw;
    border-radius: 16px;
    text-align: justify;
}

.to-right-background{
    background-color: black;
}

.to-left-background{
    background-color: black;
}

.about-row{
    display: flex;
    flex-direction: row;
    margin: 0% 6%  5%;
    gap: 4%;
}

.about-column{
    
    display: flex;
    align-items: center;
}

.icon{
    width: 20vw;
}

@media (min-width: 768px) and (max-width: 1024px){
    .about-description{
        font-size: 2vw;
    }

    .about-heading{
        font-size: 4vw;
    }
    .icon{
        width: 35vw;
    }
}

@media (min-width: 425px) and (max-width: 768px){
    .about-description{
        font-size: 2.5vw;
    }

    .about-heading{
        font-size: 5vw;
    }

    .icon{
        width: 35vw;
    }
}

@media (min-width: 375px) and (max-width: 425px){
    #about{
        padding: 10% 0%;
    }

    .about-description{
        font-size: 4vw;
    }

    .about-heading{
        font-size: 5.5vw;
    }
    .icon{
        width: 50vw;
        padding: 5% 0%;
    }

    .about-row{
        display: flex;
        flex-direction: column;
        margin: 5% 6%;
        gap: 10%;
    }

    .about-column{
        justify-content: center;
    }
}

@media (min-width: 320px) and (max-width: 375px){
    #about{
        padding: 10% 0%;
    }

    .about-description{
        font-size: 4vw;
    }

    .about-heading{
        font-size: 5.5vw;
    }
    .icon{
        width: 50vw;
        padding: 5% 0%;
    }

    .about-row{
        display: flex;
        flex-direction: column;
        margin: 5% 6%;
        gap: 10%;
    }

    .about-column{
        justify-content: center;
    }
}
