@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#about{
    background-color: #151515;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    z-index: 1;
    animation: 1s ease 2s backwards fadeInRight ;
    padding: 5% 0% 2.5%;
}

.about-wrapper{
    /* background-image: url(./ffflux.svg);
    background-repeat: no-repeat;
    background-size: cover; */
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{opacity: 1;
    }
}

.about-heading{
    padding: 0% 6% 5% ;
    font-size: 3vw;
}

.about-description{
    padding: 5% 5%;
    font-size: 1.5vw;
    border-radius: 16px;
    text-align: justify;
    
}

.to-right-background{
    background-color: black;
}

.to-left-background{
    background-color: black;
}

.about-row{
    display: flex;
    flex-direction: row;
    margin: 0% 6%  5%;
    gap: 4%;
}

.about-column{
    
    display: flex;
    align-items: center;
}


.icon{
    width: 20vw;
}