@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#projects{
    color: white;
    background-color: black;    
    font-family:  'Roboto', sans-serif;
    padding: 0% 6% 6%;
    animation: 1s ease 2s backwards fadeInRight ;
    position: relative;
    z-index: 1;
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{opacity: 1;
    }
} 

.projects-heading{
    padding: 5% 0% 5% ;
    font-size: 3vw;
}

.projects-wrapper{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    gap: 50px;
}

.project-img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.projects-row{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 25px;
    background-color: #151515;
    padding: 1.5% 1.5%;
    border-radius: 16px;
}

.projects-left{
    flex-grow: 1;
}

.projects-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.project-title{
    font-size: 2vw;
    padding-top: 2%;
}

.projects-description{
    font-size: 1.45vw;
    margin-right: 8%;
    text-align: justify;
    padding: 10% 0%;
}

.button-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    margin-right: 8%;
    /* justify-content: space-between ; */
}

.projects-right button {
    background: black;
    width: 100%;
    display: inline-block;
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: inherit;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding:  2.5% 5%;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
  }
  
  .project-right button:hover {
    background: white;
    color: black;
    text-decoration: none;
  }

  .projects-row:hover{
    transform: scale(1.02);
    transition: transform 0.5s;
  }

  @media (min-width: 1024px) and (max-width: 1200px) {
    .projects-description{
        font-size: 1.70vw;
    }
  }

  @media ((min-width: 425px) and (max-width: 768px))  {
    .projects-heading{
        font-size: 5vw;
    }

    .project-title{
        font-size: 3.5vw;
    }

    .projects-description{
        font-size: 2.5vw;
        padding: 5% 0%;
        margin-right: 0%;
    }

    .projects-row{
        grid-template-columns: auto;
        padding: 2.5%;
    }

    .button-container{
        margin-right: 0%;
    }

  }

@media (min-width: 768px) and (max-width: 1024px){
    .projects-heading{
        font-size: 4vw;
    }

    .project-title{
        font-size: 3vw;
    }

    .projects-description{
        font-size: 2vw;
        padding: 5% 0%;
        margin-right: 0%;
    }

    .projects-row{
        grid-template-columns: auto;
        padding: 2.5%;
    }

    .button-container{
        margin-right: 0%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    #projects{
        padding: 8% 6%;
    }

    .projects-heading{
        font-size: 5.5vw;
    }

    .project-title{
        font-size: 4vw;
    }

    .projects-description{
        font-size: 4vw;
        padding: 5% 0%;
        margin-right: 0%;
    }

    .projects-row{
        grid-template-columns: auto;
        padding: 3%;
    }

    .button-container{
        margin-right: 0%;
    }
  }

  @media (min-width: 320px) and (max-width: 375px) {
    #projects{
        padding: 8% 6%;
    }

    .projects-heading{
        font-size: 5.5vw;
    }

    .project-title{
        font-size: 4vw;
    }

    .projects-description{
        font-size: 4vw;
        padding: 5% 0%;
        margin-right: 0%;
    }

    .projects-row{
        grid-template-columns: auto;
        padding: 3%;
    }

    .button-container{
        margin-right: 0%;
    }

  }